<% title @user.name %>
<%= render partial: 'notice' %>
<%= render partial: 'errors', locals: { errors: @user.errors } %>
<h3>ユーザー情報</h3>

<div class="text-center">
  <div class="col-lg-12">
    <%= link_to @user.url do %>
      <%= image_tag @user.image_url, { width: 60, heidth: 60, class: 'img-circle' } %>
      <%= "@#{@user.name}" %>
    <% end %>
  </div>
  <div class="col-lg-12">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="marqueeまとめ">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

</div>

<h3>登録サイト一覧</h3>
<div id="sites" class="col-lg-12">
  <% @user.sites.each do |site| %>
    <div class="col-md-4">
      <% if @user.id == myid %>
        <%= link_to '削除', site_path(site.id), class: 'pull-right', method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
      <% end %>
      <%= link_to site_path(site.id) do %>
        <%= truncate(site.title, length: 23, omission: '...') %><br />
        <%= image_tag site.thumnail %>
      <% end %>
    </div>
  <% end %>
</div>
