<%= render partial: 'notice' %>
<div id="sites" class="col-lg-12">
  <% @sites.each do |site| %>
    <div class="col-md-4 site">
      <%= link_to site_path(site.id) do %>
        <%= truncate(site.title, length: 25, omission: '...') %><br />
        <%= image_tag site.thumnail %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-12 text-center">
  <%= paginate @sites %>
</div>
