<%= render partial: 'notice' %>
<div id="sites" class="col-lg-12">
  <% @sites.each do |site| %>
    <div class="col-md-4 site">
      <%= link_to site_path(site) do %>
        <%= truncate(site.title, length: 25, omission: '...') %><br />
        <% if site.capture.path %>
          <%= image_tag site.capture.url(:thumnail) %>
        <% else %>
          <%= image_tag site.thumnail %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-12 text-center">
  <%= paginate @sites %>
</div>
