<% title 'サイト登録画面' %>
<h3>サイト登録画面</h3>
<%= render partial: 'errors', locals: { errors: @site.errors } %>
<div class="well well-sm">
  <%= form_for @site, url: new_site_path, method: :get do |f| %>
    <div class="form-group">
      <%= f.label :url %>
      <div class="form-control-group">
        <%= f.text_field :url, class: 'form-control col-percent-40' %>
      </div>
    </div>
    <div class="form-group">
      <%= submit_tag '確認', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
