<!DOCTYPE html>
<html>
  <head>
    <title>MarqueeMatome</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if login? %>
      <%= myname %> <%= link_to 'ログアウト', logout_path %>
    <% else %>
      <%= link_to 'ログイン', '/auth/twitter' %>
    <% end %>
    <%= yield %>

  </body>
</html>
